extends layout

block scripts
    script(src='/javascripts/script.js')
    script(src='https://code.getmdl.io/1.1.3/material.min.js')

block content
  div(class='wiki-layout mdl-layout mdl-js-layout')
      div(class='wiki-ribbon')
      main(class='wiki-main mdl-layout__content')
        div(class='mdl-grid')
          div(class='mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone')
          div(class='wiki-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col')
            h3(id='title')= title
            div(id='article', contenteditable='false')!= data
            input(id='article_id', value=id, hidden='true')
            input(id='article_name', value=name, hidden='true')

  button(class='mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent', id='edit')
    i(class='material-icons')= 'mode_edit'
    span(class='visuallyhidden')= 'Edit'

  button(class='mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent', id='cancel', hidden='true')
    i(class='material-icons')= 'cancel'
    span(class='visuallyhidden')= 'Cancel'

  div(id='wiki-snackbar', class='mdl-js-snackbar mdl-snackbar')
    div(class='mdl-snackbar__text')
    button(class='mdl-snackbar__action')
