doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.1.3/material.teal-red.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
