.wiki-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #607D8B;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.wiki-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.wiki-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.wiki-layout.is-small-screen .wiki-content {
  padding: 40px 28px;
}

#edit {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-Index: 999;
}

#cancel {
  position: fixed;
  right: 40px;
  bottom: 110px;
  z-Index: 999;
}
